<form>
<h1>Display your Pirate here</h1>
    <p id = "pirate[name]"><%=@pirates.name  %></p>
    <p id = "pirate[weight]"><%=@pirates.weight %></p>
    <p id = "pirate[height]"><%=@pirates.height %></p>
    <h2>Display Ships</h2>
    <% @ships.each do |ship|%>
    <p><%= ship.name  %></p>
    <p><%= ship.type %></p>
    <p><%= ship.booty %></p>
    <% end %>
</form>